<!doctype html>
<head>
  <title>{% block title %}{% endblock %} - Lumosity Compare</title>
  {% block styles %}{% endblock %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/lumosity-compare-icon.png') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='img/lumosity-compare-icon.png') }}" type="image/x-icon">
</head>
{% block content %}{% endblock %}
