{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">{% endblock %}

{% block content %}
<body class="en sentinel access authentications show">
  <div class="container">
    <div class="row">
      <div class="offset3 span6">
        <h1>Login to Lumosity</h1>
      </div>
    </div>

    <form id="login-form" method="post">
      <div class="offset3 span6">
        <div class="rich-input">
          <input maxlength="60" placeholder="Email" size="60" type="text" name="user[login]" id="user_login">
          <i class="rich-input-icon-email rich-input-icon"></i>
          <i class="rich-input-icon rich-input-icon-validation"></i>
        </div>
        <div class="rich-input">
          <input maxlength="40" placeholder="Password" size="40" type="password" name="user[password]" id="user_password">
          <i class="rich-input-icon-password rich-input-icon"></i>
          <i class="rich-input-icon rich-input-icon-validation"></i>
        </div>
        <div class="row">
          <div class="span6">
          </div>
        </div>
        {% if g.error %}
          <div class="login_error">
            Oops, that login information seems incorrect.<br>Make sure you enter valid credentials.
          </div>
        {% endif %}
        <div class="controls">
          <input type="submit" name="commit" value="Log In" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</body>
{% endblock %}
