<div class="row-fluid row-skill{% if skill.name == 'Current LPI' or skill.name.lower() == g.skill_param.lower() %} bordering{% endif %}">
    <div class="span3">
        <label>{{skill.name}}</label>
    </div>
    <div class="span9">
        {% for stat in skill.stats %}
        <div class="bar-chart-container {% if stat.own %}yellow{% endif %}">
        <div class="bar-chart-value" style="display: block;">{{ stat.name }} ({{ stat.value }})</div>
        <div class="bar-chart-bar" style="width: {{stat.pct}}%;"></div>
        </div>
        {% endfor %}
    </div>
</div>
