{% extends 'stats.html' %}

{% block stats %}
  {% for skill in g.skills %}
    {% if skill.name.lower() == g.skill_param.lower() %}
      {% include 'single_skill_stat.html' %}
    {% endif %}
  {% endfor %}
  {% for game in g.games %}
    <div class="row-fluid row-game">
      <div class="span3 game-title">
        <label><a href="{{game.url}}">{{game.name}}</a></label>
        <img src={{game.icon_url}}>
      </div>
      <div class="span9">
        {% for stat in game.stats %}
        <div class="bar-chart-container {% if stat.own %}yellow{% endif %}">
          <div class="bar-chart-value" style="display: block;">{{ stat.name }} ({{ stat.value }})</div>
          <div class="bar-chart-bar" style="width: {{stat.pct}}%;"></div>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
