{% extends 'base.html' %}

{% block title %}Stats{% endblock %}
{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css')|autoversion }}">{% endblock %}

{% block content %}

<body class="en sentinel access authentications show">
  <div class="masthead-wrapper authed container-fluid">
    <div class="container">
      <div class="masthead">
        <a class="lumosity-logo-link " href="/">
          <h2 style="line-height: 1.17em; font-weight: 600;">lumosity compare</h2>
        </a>
        <div class="toggle-nav-position hidden-phone">
          <ul class="nav nav-pills">
            <li>
              <a id="log-out-link" href="javascript: void(0)">Log out</a>
            </li>
          </ul>
        </div>

        <div style="float: right;">
          <ul class="nav nav-pills">
            <li>
              <a href="javascript: void(0)" style="pointer-events: none;">Welcome, {{g.user.name}}!</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="left-nav-column span3">
        <ul class="affix-nav nav nav-list affix-top">
          <li {% if not g.skill_param %}class="active"{% endif %}>
            <a href="/">Overview</a>
          </li>
          {% for skill in g.skills %}
          {% if skill.has_games %}
          <li {% if g.skill_param.lower() == skill.name.lower() %}class="active"{% endif %}>
            <a href="/?skill={{skill.name.lower()}}">{{ skill.name }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="main-content-column span9">
        <h4 class="header">
          {% if g.skill_param %}{{g.skill_param.lower().capitalize()}} {% endif %}Overview (stats were updated
          {% if g.last_refresh_hours %}{{g.last_refresh_hours}} hours, {% endif %}
          {{g.last_refresh_minutes}} minutes ago)
        </h4>
        <section id="my-bpi" class="section">
          <div class="row-fluid">
            <div class="span12">
              <div class="bar-chart">
                {% block stats %}{% endblock %}
              </div>
            </div>
        </section>
        </div>
    </div>
  </div>

  <script type="text/javascript">
    document.getElementById('log-out-link').addEventListener('click', function () {
        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', window.location.origin + '/');
        xhr.onload = function () {
          location.reload();
        }
        xhr.send();
      },
      false
    );
  </script>
</body>
{% endblock %}
